h1{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}
body {
  background-color: #393E46;
}
img{
    width: 80%;
    filter:contrast(4);
}
p{
    color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}
.dice{
    text-align: center;
    display: inline-block;
    /* padding: 1% 2% 4% 2%; */

    
}
.container{
    text-align: center;
}
footer{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #EEEEEE;
    margin-top: 3%;
}
